@import "./base";

.progressbar-completed {
  background-color: #7afff3;
  height: 100px;
}

.progressbar-left {
  background-color: #c4c4c4;
  height: 100px;
}

.progressbar-component {
  top: 0;
  left: 0;
  margin-left: 5%;
  width: 80%;
  height: 100px;
  padding: 20px;
}


.progressbar-indicator {
  font-size: 56px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  opacity: 0.2;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.progressbar-button {
  width: 60px;
  height: auto;
  position: relative;
  font-size: 36px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.progressbar-increase {
  background-color: #7afff3;
}

.progressbar-decrease {
  background-color: #c4c4c4;
}
